
.service_content {
  overflow-y: auto;
  text-align: center;
  width: 100%;
  height: 100%;
  --background: #ffffff;
}

.filter_icon_col {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.filter_icon {
  height: 20px;
  color: #0a5c6b;
}

.search_col {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search {
  width: 100%;
  --background: #c1c1c16c;
  --color: #000000;
  --placeholder-color: #000000;
  --icon-color: #000000;
  --clear-button-color: #000000;
  --border-radius: 2px;
  --box-shadow: none;
  /* box-shadow: 0px 0px 14px #5C5696 inset; */
}

.service_card_grid {
  margin-top: 5px;
  background-color: #b7b7b72f;
  flex: none;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 20px;
  border-radius: 20px;
}


.service_card_col {
  display: flex;
  justify-content: center;
  flex-direction: column;

  -webkit-padding-start: 0px;
  padding-inline-start: 0px;
  -webkit-padding-end: 0px;
  padding-inline-end: 0px;
  padding-top: 0px;

}

.service_card {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.18);
  border-radius: 14px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  max-height: 66px;
  margin-bottom: 5px;
}

.service_card_img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}




.heading_text_col {
  text-align: left;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.details_text_col {
  text-align: left;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.details_text {
  font-size: 9px;
  color: #000000;
  
  text-align: left;
}

.service_modal_img{
  height: 400px;
  width: 100%;
  object-fit: cover ;
  /* object-position: center center; */
  /* max-width: 600px; */
}

.service_img_1{
  height: 200px;
  width: 200px;
  object-fit: cover ;
}

@media (min-width:550px) {

  .heading_text_col {
    text-align: left;
    /* padding-top: 10px; */
    padding-bottom: 0px;
    padding-left: 5px;
  }
  
  .details_text_col {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 5px;
  }


  .details_text {
    font-size: 13px;
    
  }

  .service_modal_img{
   width: 400px;
  }
  
}
@media (min-width:768px) {

  .heading_text_col {
    text-align: left;
    /* padding-top: 10px; */
    padding-bottom: 0px;
    padding-left: 20px;
  }
  
  .details_text_col {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 20px;
  }


  .details_text {
    font-size: 13px;
    
  }

  .service_card {
    height: 200px;
    max-height: 100%;
  }
  
}




.more_col {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.more_icon {
  height: 15px;
  color: #000000;
}


ion-modal#service_modal {
  --height: 77%;
  --border-radius: 16px;
  --overflow-y: auto;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal#service_modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal#service_modal ion-toolbar {
  --background: #0a5c6b;
  --color: white;
}

.service_modal_content {
  --background: #ffffff;
  --overflow-y: auto;
}

.service_modal_header {
  color: #ffffff;
  
}

.service_modal_close {
  color: #ffffff;
  
}

.service_modal_Swiper{
  height: auto;
}

.swiper-slide img {
  display: block;
  
}


/* .popover_scroll_div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
  grid-auto-flow: column;
  grid-auto-columns: minmax(440px, 1fr);
  overflow-x: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  flex: none;
  background: #ffffff;
  color: #000;
  height: 100%;
}

.modal_div {
  width: 300px;
} */

.service_modal_details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.service_name {
  text-align: center;
  margin-top: 30px;
  color: #0a5c6b;
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
  
}

.service_details {
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  color: #000000c0;
  font-size: 15px;
  
}

/* .service_price_div{
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: #000000;
  font-size: 25px;
  font-weight: 600;
} */

.service_price_row{
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 20px;
  width: 350px;
}

.service_price_max {
  /* margin-left: 40px;
  margin-right: 40px;
  color: #ffffff;
  background-color: #d6702e;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 4px; */

  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000c0;
  
}

.service_price_min {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000c0;
  
}

.service_price_min1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 24px;
  font-weight: 800;
}


.service_booking {
  background:#0a5c6b !important;
  /* box-shadow: 0 0 25px 2px #0a5d6b8e !important; */
  color: #ffffff !important;
  font-family: 'Codec-Cold-ExtraBold-trial' !important;
  border-radius: 4px;
  /* font-size: 12px !important; */
  /* padding: 3px 10px !important; */
  margin-bottom: 50px;
}

.css-eqpfi5-MuiAccordionSummary-content.Mui-expanded {
  margin: 0px 0 !important; 
}

.booked-button {
  animation: bookedAnimation 0.5s ease-in-out forwards;
}

@keyframes bookedAnimation {
  0% {
    transform: scale(1);
    
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 10px #4caf50, 0 0 20px #4caf50, 0 0 30px #4caf50;
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0px #4caf50;
  }
}

/* .css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  height: 60vh;
}

.css-1fn57n4-MuiModal-root {
  height: 60vh;
position: absolute;
bottom: 0;
} */

.number {
  --c: #0a5c6b; 
  /* --w: 0.5ch;   */
  --g: 4px; 

  letter-spacing: 0.5ch;
  
  color: #fff;
  background: var(--c);
  -webkit-mask: 
    repeating-linear-gradient(90deg,
        #000  0 calc(1ch + var(--w) - var(--g)), 
        #0000 0 calc(1ch + var(--w)))
    0/calc(100% - var(--w)/2) 100% no-repeat;
  /* padding-left: calc((var(--w) - var(--g))/2); */
  margin-right: calc(var(--w)/-2);
  font-size: 30px;
  padding-left: 5px;

}
.number.border {
  --b: 4px;
  
  color: #000;
  --_g: var(--b), #0000 90deg,var(--c) 0;
  background:
    conic-gradient(from  90deg at var(--b) var(--_g)),
    conic-gradient(from -90deg at right calc(var(--b) + var(--g)) bottom var(--_g));
   background-size: calc(1ch + var(--w)) 100%;
}


body {
  margin:0;
  min-height:100vh;
  display: grid;
  place-content: center;
  place-items: center;
  gap: 10px;
  /* font-size: 30px; */
  background: #fff;
}

.loader {
  width: 120px;
  height: 22px;
  border-radius: 40px;
  color: #0a5c6b;
  border: 2px solid;
  position: relative;
  overflow: hidden;
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  width: 14px;
  top: 0;
  bottom: 0;
  left: -20px;
  border-radius: inherit;
  background: currentColor;
  box-shadow: -10px 0 12px 3px currentColor;
  clip-path: polygon(0 5%, 100% 0,100% 100%,0 95%,-30px 50%);
  animation: l14 1s infinite linear;
}
@keyframes l14 {
  100% {left: calc(100% + 20px)}
}

/* body {
  background-color: #322B2B;
} */

.arrow {
  position: absolute;
  top: 40%;
  left: 85%;
  transform: translate(-50%, -50%);
  transform: rotate(270deg);
  cursor: pointer;
}

.arrow span {
  display: block;
  width: 16px;
  height: 16px;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0%) brightness(0%);
}


#button-tab {
  background: white;
  font-size: 18px;
  padding: 4px 24px;
  z-index: 100;
  text-transform: none;
  color: #0a5c6b;
  border: solid 1px #0a5c6b;
  font-weight: bold;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
  border-radius: 24px;
}


.custom-footer-button {
  background: #0a5c6b !important;
  display: flex !important;
  align-items: center !important;
  border-radius: 999px !important;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  width: 100%; 
  color: white !important;
  font-weight: bold;
  padding: 16px 32px !important;
  height: fit-content;
  text-transform: none !important;
  border: 1px solid white !important;
  font-size: 18px !important;
  transition: transform 0.3s ease !important;
}

.custom-footer-button:hover {
  transform: scale(1.05);
}


@media (min-width: 768px) {
  .custom-footer-button {
    width: fit-content;
    font-size: 16px;
  }
}


.custom-scrollbar {
  overflow-y: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #0a5c6b;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.my_team_header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family: 'Codec-Cold-Heavy-trial';
  background: #0a5c6b;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);

}

.my_team_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  --background: white;
  margin-top: 20px;
}

.my_team_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  --background: white;
}

.my_team_text {
  color: #000;
  font-size: 25px;
  font-family: 'Codec-Cold-Heavy-trial';
  margin-bottom: 10px;
}

.my_team_btn {
  color: #000;
  font-size: 22px;
  font-family: 'Codec-Cold-Heavy-trial';
  --background: #0a5c6b;
  color: aliceblue;
  border-radius: 6px;
  height: 80%;
  text-transform: none;
}

.my_team_search {
  --background: rgb(255, 255, 255);
  margin-top: 10px;
  border-radius: 10px;
  color: #000000;
  font-size: 17px;

}

.my_team_row{
  background: #e3e3e3;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.my_team_col{
  padding-left: 0px;
  padding-right: 0px;
  width: 100% !important;
  max-width: 100% !important;
  flex: 100% !important;
}

.team_card{
  background: #ffffff00;
  box-shadow: none;
}

.team_grid{
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background: #ffffff00;
}

.team_row{
  border-left: solid 5px #0a5c6b;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  margin: 10px;
  border-radius: 10px;
}

.team_pfp{
  height: 30px;
  background: #454545;
  padding: 24%;
  border-radius: 50%;
}

.team_col{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap:6px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.team_col_1{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 5px;
}
.team_col_2{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.team_name{
  color: #000000c1;
  /* font-size: 25px; */
  font-size: 20px;
  font-family: 'Codec-Cold-Heavy-trial';
  white-space: nowrap;     
  overflow: hidden;         
  text-overflow: ellipsis;  
  max-width: 100%; 
}

.team_username{
  color: #000000c1;
  font-size: 15px;
  font-family: 'Codec-Cold-Heavy-trial';
  margin-bottom: 2px;
}

.team_availability {
  color: #000000c1;
  font-size: 15px;
  font-family: 'Codec-Cold-Heavy-trial';
}

.team_availability_green {
  color: #000000c1;
  background: #00ff9138;
  color: #0aa345;
  padding: 3%;
  border-radius: 4px;
  font-size: 10px;
  font-family: 'Codec-Cold-Heavy-trial';
}

.team_availability_red {
  color: #000000c1;
  background: #ff000038;
  color: #a30a0a;
  padding: 3%;
  border-radius: 4px;
  font-size: 10px;
  font-family: 'Codec-Cold-Heavy-trial';
}
